.greentext {
	color: green;
}

.redtext {
	color: red;
}

.margin {
	margin: 20px;
}

.greenbutton {
	padding: 15px 30px 15px 30px;
    margin: 35px;
    color: green;
}

 table, th, td {
    border: 1px solid black;
}

body {

}
